{% extends 'base.html.twig' %}
{% block body %}
<h2>SIMPLE API</h2>
    <ul>
        <li>Xdebug installed</li>
        <li>API Documentation - <a href="/api">/api</a></li>
        <li>docs.json - <a href="/api/docs.json">docs.json</a></li>
    </ul>
{% endblock %}